<!-- Start Skills -->
<div class="our-skills" id="our-skills">
    <h2 class="main-title">Our Skills</h2>
    <div class="container">
        <img src="./assets/images/skills.png" alt="">
        <div class="skills">
            <div class="skill">
                <h3>HTML <span>80%</span></h3>
                <div class="progress">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>CSS <span>90%</span></h3>
                <div class="progress">
                    <span style="width: 90%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>JavaScript <span>75%</span></h3>
                <div class="progress">
                    <span style="width: 75%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Python <span>88%</span></h3>
                <div class="progress">
                    <span style="width: 88%;"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Skills -->