<!-- Start Pricing -->
<div class="pricing" id="pricing">
    <div class="dots dots-up"></div>
    <div class="dots dots-down"></div>
    <h2 class="main-title">
        {{title}}
    </h2>
    <div class="container">
        @for (plan of plans; track $index) {
            <div class="box" [class.popular]="plan.type.toLowerCase() === 'pro'">
                @if(plan.type.toLowerCase() === 'pro'){
                    <div class="label">Most Popular</div>
                }
                <h3>{{plan.type}}</h3>
                <img [src]="'/assets/images/'+plan.img">
                <h2>{{plan.price | currency: 'USD'}}</h2>
                <span>{{plan.period}}</span>
                <ul class="info">
                    @for (info of plan.infos; track $index) {
                        <li>{{info}}</li>
                    }
                </ul>
                <a style="cursor: pointer;">Choose Plan</a>
            </div>
        }
    </div>
</div>
<!-- End Pricing -->