/* Start Pricing */
.pricing {
    position: relative;
    padding: var(--main-padding) 0;
    background-color: var(--background-color);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.pricing .box {
    background-color: white;
    padding: 30px 0;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 /  13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
    position: relative;
    z-index: 2;
    text-align: center;
}
.pricing .box::before, 
.pricing .box::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 0%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing .box::before {
    right: 0;
    top: 0;
}
.pricing .box::after {
    left: 0;
    bottom: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}
@media (min-width: 1200px) {
    .pricing .box.popular {
        transform: translateY(-20px);
    }
}
.pricing .box.popular .label {
    position: absolute;
    background-color: var(--main-color);
    writing-mode: vertical-lr;
    color: white;
    padding: 10px 10px 40px 10px;
    font-weight: bold;
    top: 0;
    right: 10%;
    width: 40px;
}
.pricing .box.popular .label::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
    left: 0;
    bottom: 0;
}
.pricing .box h3 {
    text-align: center;
    font-size: 22px;
    margin: 0;
}
.pricing .box img {
    width: 80px;
    margin: 20px 0;
}
.pricing .box h2 {
    font-size: 60px;
    color: var(--main-color);
    text-align: center;
}
.pricing .box span {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #777;
}
.pricing .box ul {
    margin: 30px 0;
    text-align: left;
}
.pricing .box ul li {
    padding: 20px;
    color: #333;
    border-top: 1px solid #D4D4D4;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    color: var(--main-color);
    font-weight: 900;
    margin-right: 10px;
}
.pricing .box a {
    width: fit-content;
    position: relative;
    display: block;
    margin: auto;
    padding: 15px 20px;
    border: 4px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
    z-index: 2;
}
.pricing .box a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--main-color-alt);
    left: 0;
    top: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    color: white;
}
.pricing .box a:hover::before {
    width: 100%;
}
/* End Pricing */