<!-- Start discount -->
<div class="discount" id="discount">
    <div class="image">
        <div class="content">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <img [src]="'/assets/images/'+img">
        </div>
    </div>
    <div class="form">
        <div class="content">                
            <h2>Request A Discount</h2>
            <form (submit)="getDiscount($event,name.value,email.value,phone.value,message.value) ">
                <input type="text" name="name" placeholder="Your Name" #name>
                <input type="email" name="email" placeholder="Your Email" #email>
                <input type="number" name="phone" placeholder="Your Phone" #phone>
                <textarea name="message" placeholder="Tell Us About Your Needs" #message></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</div>
<!-- End discount -->