<!-- Start discount -->
<div class="discount" id="discount">
    <div class="image">
        <div class="content">
            <h2>This is a discount section</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi asperiores consectetur, recusandae ratione provident necessitatibus, cumque delectus commodi fuga praesentium beatae. Totam vel similique laborum dicta aperiam odit doloribus corporis.</p>
            <img src="./assets/images/discount.png" alt="">
        </div>
    </div>
    <div class="form">
        <div class="content">                
            <h2>Request A Discount</h2>
            <form action="">
                <input type="text" name="name" placeholder="Your Name">
                <input type="email" name="email" placeholder="Your Email">
                <input type="number" name="phone" placeholder="Your Phone">
                <textarea name="message" placeholder="Tell Us About Your Needs"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</div>
<!-- End discount -->