<select class="form-select" aria-label="Default select example" [(ngModel)]="categorySelected">
  <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
</select>
<h1>The Total price : {{totalPrice}}</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">

  <ng-container *ngFor="let product of products; trackBy: trackProduct">
    <div class="col" 
      [ngClass]="(product.catId !== categorySelected) ? 'd-none' : ''"
      *ngIf="product.quantity !== 0">
        <div class="card">   
          <img [src]="product.imgUrl" class="card-img-top" alt="...">
          <div class="card-body" [ngStyle]="{'background-color': (product.quantity === 1) ? 'red' : ''}">
            <h3 class="card-title">{{product.name}}</h3>
            <p class="card-text">The price: {{product.price}}</p>
            <!-- <p class="card-text" *ngIf="product.quantity > 1; else lastItem">The quantity: {{product.quantity}}</p>
            <ng-template #lastItem><p class="card-text">The quantity: LastItem</p></ng-template> -->
            <container-element [ngSwitch]="product.quantity > 1">
              <p class="card-text" *ngSwitchCase="true">The quantity: {{product.quantity}}</p>
              <p class="card-text" *ngSwitchDefault>The quantity: LastItem</p>
            </container-element>
            <div class="input-group mb-3">
                <span class="input-group-text">EGP</span>
                <span class="input-group-text">{{product.tmpTotalPrice || 0.00}}</span>
                <input type="number" class="form-control" min="1"
                [(ngModel)]="product.tmpTotalQuantity"
                (input)="updateTempPrice(product)">
                <button class="btn btn-primary"
                  (click)="buy(product)">
                  Buy
                </button>
            </div>
          </div>
        </div>
    </div>
  </ng-container>
</div>