<!-- Start Landing -->
    <div class="landing">
        <div class="container">
            <div class="text">
                <h1>Welcome, To Hostrio</h1>
                <p>
                    Welcome to Hostrio, where we bring your ideas to life online.
                    Hostrio is your go-to platform for reliable and affordable web hosting solutions.
                    Whether you're launching a personal blog or managing a growing business, we're here to help you build your online presence with ease.
                    Let's take this journey together—explore, create, and grow with Hostrio.
                </p>
            </div>
            <div class="image">
                <img src="./assets/images/landing.png" alt="Landing Photo">
            </div>
        </div>
        <a appScrollTo="articles" class="go-down">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
    </div>
<!-- End Landing -->