/* Start Video */
.video {
    padding: var(--main-padding) 0;
    position: relative;
}
.video .holder {
    border: 1px solid #dddddd;
    display: flex;
}
@media (max-width: 991px) {
    .video .holder {
        flex-direction: column;
    }
}
.video .holder .list {
    max-width: 100%;
    /* width:  fit-content; */
}
.video .holder .list .name {
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}
.video .holder .list .name i {
    color: var(--main-color);
}
.video .holder .list  ul li {
    padding: 20px 40px 20px 20px;
    cursor: pointer;
    transition: var(--main-transition);
    border-top: 1px solid #dddddd;
}
.video .holder .list  ul li:hover {
    background-color: #FAFAFA;
    color: var(--main-color);
}
.video .holder .list  ul li p {
    margin-bottom: 10px;
    transition: var(--main-transition);
}
.video .holder .list  ul li span {
    color: #777;
}
.video .holder .preview {
    flex: 1;
    padding: 15px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .holder .preview img {
    width: 100%;
}
.video .holder .preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}
/* End Video */