    <!-- Start Footer -->
    <footer>
        <div class="container">
            <div class="box">
                <h2>{{socialBox.title}}</h2>
                <div class="social">
                    @for (social of socialBox.socials; track $index) {
                        <i [class]="social"></i>
                    }
                </div>
                <p>{{socialBox.description}}</p>
            </div>
            <div class="box">
                <ul class="links">
                    @for (link of [1,2,3,4,5]; track $index) {
                        <li><a style="cursor: pointer;">Important Link {{link}}</a></li>
                    }
                </ul>
            </div>
            <div class="box">
                @for (infos of infoBox; track $index) {
                    <div class="info">
                        <i [class]="infos.icon"></i>
                        @if($index !== infoBox.length-1){
                            <p>{{infos.info}}</p>
                        }
                        @else {
                            <div class="phone">
                                <p>{{infos.info[0]}}</p>
                                <p>{{infos.info[1]}}</p>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="box">
                @for (image of imagesBox; track $index) {
                    <div class="foot">
                        <img [src]="'./assets/images/' + image" alt="">
                    </div>
                }
            </div>
        </div>
        <p class="foot">
            Made With &lt;3 By Mostafa
        </p>
    </footer>
    <!-- End Footer -->