/* Start Services */
.services {
    padding: var(--main-padding) 0;
    background-color: var(--background-color);
    position: relative;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .box {
    position: relative;
    background-color: white;
    padding-top: 30px;
    box-shadow: 0 6px 15px #d2d2d2;
    transition: var(--main-transition);
    counter-increment: counter;
}
.services .box:hover {
    transform: translateY(-15px);
}
.services .box::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--main-color);
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.services .box:hover::before {
    width: 100%;
}
.services .box i {
    color: #d5d5d5;
    display: block;
    margin: 30px auto 20px;
    text-align: center;
}
.services .box h3 {
    color: var(--main-color);
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
}
.services .box .info {
    position: relative; 
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
}
.services .box .info::before {
    content: counter(counter, decimal-leading-zero);
    position: absolute;
    height: 100%;
    width: 80px;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 30px;
    padding-right: 15px;
}
.services .box .info::after {
    content: '';
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    height: 100%;
    width: 50px;
    transform: skewX(-30deg);
}
.services .box .info a {
    color: var(--main-color);
}
/* End Services */