<!-- Start Testimonials -->
<div class="testimonials" id="testimonials">
    <h2 class="main-title">{{title}}</h2>
    <div class="container">
        @for (testimonial of testimonials; track $index) {
            <div class="box">
                <img decoding="async" [src]="'./assets/images/'+testimonial.img"/>
                <h3>{{testimonial.name}}</h3>
                <span class="title">{{testimonial.job}}</span>
                <div class="rate">
                    @for (index of [1,2,3,4,5]; track $index) {
                        @if(testimonial.filledStars >= index){
                            <i class="filled fas fa-star"></i>
                        }
                        @else {
                            <i class="far fa-star"></i>
                        }
                    }
                </div>
                <p>{{testimonial.comment}}</p>
            </div>
        }
</div>
</div>
<!-- End Testimonials -->