<!-- Start Landing -->
<div class="landing">
    <div class="container">
        <div class="text">
            <h1>Welcome, To Hostrio</h1>
            <p>
                Here, Iam gonna share everything about my life.
                Books Iam reading, Games I Playing, projects that I work on.
                This is my amazing life that I will share with you.
                Let's start a new chalange on our life be ready.  
            </p>
        </div>
        <div class="image">
            <img src="./assets/images/landing.png">
        </div>
    </div>
    <a (click)="goArticle()" class="go-down" style="cursor: pointer;">
        <i class="fas fa-angle-double-down fa-2x"></i>
    </a>
</div>
<!-- End Landing -->