/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    position: absolute;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
    max-width: 500px;
    margin-right: 20px;
}
@media (max-width: 991px) {
    .landing .text{
        margin: auto;
        text-align: center;
    }
}
.landing .text h1 {
    letter-spacing: -2px;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 25px;
    }
}
.landing .text p {
    font-size: 20px;
    columns: #777;
    line-height: 2;
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 15px;
    }
}
.landing .text .image {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}
.landing img {
    position: relative;
    width: 450px;
    transition: var(--main-transition);
    animation: up-down 3s linear infinite;
}
.landing .go-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.landing .go-down i {
    color: var(--main-color);
    transition: var(--main-transition);
    animation: bouncing 1.5s linear infinite;
}
.landing .go-down i:hover {
    color: var(--main-color-alt);
}
/* End Landing */