/* Start footer */
footer {
    background-color: #191919;
    position: relative;
}
footer .container {
    color: #b9b9b9;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: calc(var(--main-padding) / 1.5) 0;
}
@media (max-width: 767px) {
    footer .container {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}
footer .box p {
    line-height: 1.7;
}
footer .box h2 {
    font-size: 50px;
    color: white;
}
footer .box .social {
    display: flex;
    gap: 15px;
    margin: 25px 0;
    text-align: center;    
}
@media (max-width: 767px) {
    footer .box .social {
        justify-content: center;
    }
}
footer .box .social i {
    padding: 20px;
    background-color: #313131;
    cursor: pointer;
    transition: var(--main-transition);
}
footer .box .social i.fa-facebook-f:hover {
    background-color: #0866ff;
}
footer .box .social i.fa-twitter:hover {
    background-color: #08a4ff;
}
footer .box .social i.fa-youtube:hover {
    background-color: #ff0033;
}
footer .box ul li a {
    position: relative;
    display: block;
    color: #b9b9b9;
    padding: 15px 0;
    border-bottom: 1px solid #444444;
    transition: var(--main-transition);
}
footer .box ul li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
footer .box ul li a:hover {
    transform: translateX(10px);
    color: white;
}
footer .box .info {
    margin-bottom: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
}
@media (max-width: 767px) {
    footer .box .info {
        flex-direction: column;
    }
}
footer .box .info i {
    color: var(--main-color);
    font-size: 25px;
}
footer .box:last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    justify-content: center;
}
footer .box .foot {
    width: 80px;
    height: 80px;
    padding: 4px;
    background-color: var(--background-color);
}
footer .box .foot img{
    width: 100%;
    height: 100%;
}
footer .foot {
    color: white;
    padding: 20px;
    border-top: 1px solid #444444;
    text-align: center;
}
/* End footer */