/* Start Gallery */
.gallery {
    position: relative;
    padding: var(--main-padding) 0;
    background-color: var(--background-color);
}
.gallery .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 /  13%),
                0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before {
    content: '';
    position: absolute; 
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(225, 225, 225, 0.2);
    opacity: 0;
    transition: var(--main-transition);
    z-index: 2;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
} 
.gallery .box img {
    width: 100%;
    transition: var(--main-transition);
}
.gallery .box:hover img {
    transform: rotate(6deg) scale(1.2);
}
/* End Gallery */