<!-- Start Pricing -->
<div class="pricing" id="pricing">
    <div class="dots dots-up"></div>
    <div class="dots dots-down"></div>
    <h2 class="main-title">
        Pricing Plans
    </h2>
    <div class="container">
        <div class="box">
            <h3>Basic</h3>
            <img src="./assets/images/hosting-basic.png" alt="">
            <h2>$15</h2>
            <span>Per Month</span>
            <ul class="info">
                <li>10GB HDD Space</li>
                <li>5 Email Addresses</li>
                <li>2 Subdomains</li>
                <li>4 Databases</li>
                <li>Basic Support</li>
            </ul>
            <a href="#">Choose Plan</a>
        </div>
        <div class="box popular">
            <div class="label">Most Popular</div>
            <h3>Advanced</h3>
            <img src="./assets/images/hosting-advanced.png" alt="">
            <h2>$25</h2>
            <span>Per Month</span>
            <ul class="info">
                <li>20GB HDD Space</li>
                <li>10 Email Addresses</li>
                <li>5 Subdomains</li>
                <li>8 Databases</li>
                <li>Advanced Support</li>
            </ul>
            <a href="#">Choose Plan</a>
        </div>
        <div class="box">
            <h3>Professional</h3>
            <img src="./assets/images/hosting-professional.png" alt="">
            <h2>$45</h2>
            <span>Per Month</span>
            <ul class="info">
                <li>50GB HDD Space</li>
                <li>20 Email Addresses</li>
                <li>10 Subdomains</li>
                <li>20 Databases</li>
                <li>Professional Support</li>
            </ul>
            <a href="#">Choose Plan</a>
        </div>
    </div>
</div>
<!-- End Pricing -->